/* Comfort */
/* Home Page Section Styling */
main.css
@import url("https://cdn.jsdelivr.net/gh/siniradam/jellyfin-themes@main/comfort/homepage.css");

/* Colors */
:root {
  --accent: 220, 51, 0;
  --accent-color: rgb(var(--accent));
  --osdText: #ffffff; /* OSD text color */

  --backdropColor: rgba(0, 0, 0, 0.6);
  --backdropBlur: 4px;

  --dashboardBackground: url("https://i.ibb.co/ht2dtwW/bg-red.jpg");
  --dashboardBackgroundSize: cover;
  --dashboardBackgroundPosition: top center;

  /* Alternative Background */
  --dashboardBackground2: url("https://i.ibb.co/zH69wb3y/bg.jpg");
}

/* Generic Items */
@import url("https://cdn.jsdelivr.net/gh/siniradam/jellyfin-themes@main/comfort/elements.css");

/* # Player */
@import url("https://cdn.jsdelivr.net/gh/siniradam/jellyfin-themes@main/comfort/player.css");

/* # Backgrounds */
@import url("https://cdn.jsdelivr.net/gh/siniradam/jellyfin-themes@main/comfort/background.css");

/* # Posters */
@import url("https://cdn.jsdelivr.net/gh/siniradam/jellyfin-themes@main/comfort/posters.css");
